@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  60% {
    transform: translateY(-5px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-slide-up {
  animation: fadeSlideUp 1.2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
